.App {
  text-align: center;
  overflow-x: hidden; 
  white-space: nowrap;
  scroll-behavior: smooth;
  background-image: url("./images/pandk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: #211c1c;
  font-size: large;
  height: 100vh;
}

.category {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.category button {
  margin: 1px; 
  border: none;
  border-radius: 25px;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.meal-item {
  width: 22%; 
  margin: 10px; 
  text-align: center;
  background-color: beige;
  border-radius: 15px;
}

.meal-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.meal-item p {
  max-height: 60px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
}

.list {
  list-style: none;
  color: #211c1c;
  width: 40%;
  margin-left: 45%;
  text-align: left;
}

img {
  border-radius: 8px;
  max-width: fit-content;
  border: #211c1c;
  border-width: 100px;
}

.meal-details img{
  width: 30%;
  height: 30%;
}

.meal-item p {
  max-height: 60px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
}
