.App {
  text-align: center;
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: auto; /* Add vertical scroll if needed */
  scroll-behavior: smooth;
  background-image: url("./images/foodie.jpg");
  background-size: cover; /* Ensure the entire background image is visible without distortion */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Make the background image fixed */
  color: #211c1c;
  font-size: large;
  height: 100vh; /* Set container height to 100% of viewport height */
}

.category {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.category button {
  margin: 1px; 
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meal-item {
  width: 22%; 
  margin: 10px; 
  text-align: center;
  background-color: beige;
  border-radius: 15px;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.meal-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /*Add border-radius for rounded corners */
}

.meal-details img{
  width: 30%;
  height: 30%;
}

.meal-item p {
  max-height: 60px; /* Set a maximum height for the text container */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
}

.navBar {
  display: flex;
  justify-content: space-around; /* Adjust the spacing as needed */
  align-items: center;
  background-color: #333;
  padding: 10px 0; /* Adjust top/bottom padding as needed */
}

.navLink {
  text-decoration: none;
  color: #fff;
  margin: 0 10px; /* Adjust left/right margin as needed */
}


.feedback-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: auto;
  height: 150px;
  width: 500px;
}

.list {
  list-style: none; 
}