.App {
  text-align: center;
  overflow-x: auto; 
  white-space: nowrap;
  scroll-behavior: smooth;
  background-image: url("./images/pandk.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Make the background image fixed */
  color: #211c1c;
  font-size: large;
}

.category {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.category button {
  margin: 1px; 
  background-color: rgb(201, 211, 202);
  border: none;
  border-radius: 25px;
}

.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.meal-item {
  width: 22%; 
  margin: 10px; 
  text-align: center;
  background-color: beige;
  border-radius: 15px;
}

.meal-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.meal-item p {
  max-height: 60px; /* Set a maximum height for the text container */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-top: 5px;
}

.list {
  list-style: none;
}

.instruction-p{
  max-width: 100%; /* Ensures the container does not exceed the viewport width */
  margin: 0 0; /* Centers the container horizontally */
  padding: 20px; /* Add padding as needed */
  overflow-x: hidden;
}

img {
  border-radius: 8px;
  max-width: fit-content;
  border: #211c1c;
  border-width: 100px;
}

.meal-details img{
  width: 30%;
  height: 30%;
}

/* .recipe{
  display: flex;
  background-color: plum;
  padding: 10px;
  border-radius: 15px;
} */
